* {box-sizing: border-box;}
body ol[class^="puzzle"]:hover li::before {content: attr(class); font: 2em sans-serif;
	color: rgba(128,0,0,0.5); text-shadow: 0 0 1px white,  0 0 2px white,  0 0 3px white,  0 0 4px white,  0 0 5px white;}


ol[class^="puzzle"] {width: 60vmin; height: 60vmin; box-sizing: content-box;
	margin: 0; padding: 5px;
	border: 2px dashed orange; background: rgba(255,128,0,0.25);}
ol[class^="puzzle"] li {border: 1px dotted red; list-style: none;
	background-image: url(tarsier.png);
	background-size: 60vmin 60vmin;}
li[class$="01"] {background-position: 0% 0%;}
li[class$="02"] {background-position: 0% 50%;}
li[class$="03"] {background-position: 50% 0%;}
li[class$="04"] {background-position: 100% 50%;}
li[class$="05"] {background-position: 50% 50%;}
li[class$="06"] {background-position: 0% 100%;}
li[class$="07"] {background-position: 100% 0%;}
li[class$="08"] {background-position: 50% 100%;}
li[class$="09"] {background-position: 100% 100%;}

